<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add a New Book</h1>
    <form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Author: <input type="text" th:field="*{author}" /></p>
        <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
        <p>Year: <input type="number" th:field="*{publicationYear}" /></p>
        <p>
            Category:
            <select th:field="*{category}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </p>
        <p><input type="submit" value="Add Book" /></p>
    </form>
    <a th:href="@{/booklist}">Back to Book List</a>
</body>
</html>