<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Edit Book</h1>
    <form action="#" th:action="@{/editbook}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}" />
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Author: <input type="text" th:field="*{author}" /></p>
        <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
        <p>Year: <input type="number" th:field="*{publicationYear}" /></p>
        <p><input type="submit" value="Save Changes" /></p>
    </form>
    <a th:href="@{/booklist}">Back to Book List</a>
</body>
</html>